In [1]:
# Starters
import pandas as pd
from pathlib import Path

In [2]:
# File Pathing
health_spending_csv = Path("Resources/Health_Care_Expenditures_per_Capita_by State_of_Residence_raw_data.csv")
#health_spending_csv = Path("Resources/HC_Expenditures_per_ State_Clean.csv")

#pd.read
spending_data = pd.read_csv(health_spending_csv,skiprows=[0,1])
#spending_data = pd.read_csv(health_spending_csv,)
spending_data = spending_data.dropna(axis=0,how='any',subset=["Health Spending per Capita"])
spending_data.head()

        Location Health Spending per Capita
0  United States                    $9,671
1        Alabama                    $8,741
2         Alaska                   $13,226
3        Arizona                    $8,145
4       Arkansas                    $8,853

In [3]:
## Spending Data

In [4]:
# File Pathing
health_coverage_csv = Path("Resources/Health_Insurance_Coverage_of_the_Total_Population_raw_data.csv")
#health_coverage_csv = Path("Resources/HI_Population_Coverage_Clean.csv")

#pd.read
coverage_data = pd.read_csv(health_coverage_csv,skiprows=[0,1])
#coverage_data = pd.read_csv(health_coverage_csv)
coverage_data = coverage_data.dropna(axis=0,how='any',subset=["Employer"])
coverage_data.head()

,Location,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
0,United States,0.496,0.059,0.198,0.142,0.014,0.092,1.0,1.0
1,Alabama,0.472,0.055,0.195,0.160,0.021,0.097,1.0,NaN
2,Alaska,0.484,0.035,0.213,0.100,0.053,0.115,1.0,NaN
3,Arizona,0.451,0.052,0.210,0.161,0.015,0.111,1.0,NaN
4,Arkansas,0.420,0.054,0.262,0.159,0.014,0.091,1.0,NaN

In [5]:
# Merging
merged_per_state = pd.merge( spending_data, coverage_data, how="left", on=["Location", "Location"] )
merged_per_state.head()

,Location,Health Spending per Capita,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes
0,United States,"$9,671",0.496,0.059,0.198,0.142,0.014,0.092,1.0,1.0
1,Alabama,"$8,741",0.472,0.055,0.195,0.160,0.021,0.097,1.0,NaN
2,Alaska,"$13,226",0.484,0.035,0.213,0.100,0.053,0.115,1.0,NaN
3,Arizona,"$8,145",0.451,0.052,0.210,0.161,0.015,0.111,1.0,NaN
4,Arkansas,"$8,853",0.420,0.054,0.262,0.159,0.014,0.091,1.0,NaN

In [6]:
# File Pathing
#health_coverage_csv = Path("Resources/Health_Insurance_Coverage_of_the_Total_Population_raw_data.csv")
hd_mortality_csv = Path("Resources/Heart_Disease_Mortality_by_State_data-table.csv")

#pd.read
mortaility_data = pd.read_csv(hd_mortality_csv)
mortaility_data = mortaility_data.loc[(mortaility_data["YEAR"] == 2019)]
mortaility_data = mortaility_data.reset_index(drop=True)
XX_to_full = {"AL":"Alabama",
              "AK":"Alaska",
              "AZ":"Arizona",
              "AR":"Arkansas",
              "CA":"California",
              "CO":"Colorado",
              "CT":"Connecticut",
              "DE":"Delaware",
              "DC":"District of Columbia",
              "FL":"Florida",
              "GA":"Georgia",
              "HI":"Hawaii",
              "ID":"Idaho",
              "IL":"Illinois",
              "IN":"Indiana",
              "IA":"Iowa",
              "KS":"Kansas",
              "KY":"Kentucky",
              "LA":"Louisiana",
              "ME":"Maine",
              "MD":"Maryland",
              "MA":"Massachusetts",
              "MI":"Michigan",
              "MN":"Minnesota",
              "MS":"Mississippi",
              "MO":"Missouri",
              "MT":"Montana",
              "NE":"Nebraska",
              "NV":"Nevada",
              "NH":"New Hampshire",
              "NJ":"New Jersey",
              "NM":"New Mexico",
              "NY":"New York",
              "NC":"North Carolina",
              "ND":"North Dakota",
              "MP":"Northern Mariana Islands",
              "OH":"Ohio",
              "OK":"Oklahoma",
              "OR":"Oregon",
              "PA":"Pennsylvania",
              "PR":"Puerto Rico",
              "RI":"Rhode Island",
              "SC":"South Carolina",
              "SD":"South Dakota",
              "TN":"Tennessee",
              "TX":"Texas",
              "UT":"Utah",
              "VT":"Vermont",
              "VA":"Virginia",
              "VI":"Virgin Islands",
              "WA":"Washington",
              "WV":"West Virginia",
              "WI":"Wisconsin",
              "WY":"Wyoming"}
mortaility_data["STATE"]=mortaility_data["STATE"].replace(XX_to_full)
mortaility_data = mortaility_data.rename(columns={"STATE":"Location"})
mortaility_data.head()

   YEAR    Location   RATE DEATHS
0  2019     Alabama  219.6  13448
1  2019      Alaska  129.7    843
2  2019     Arizona  134.0  12587
3  2019    Arkansas  226.5   8669
4  2019  California  136.9  62394

In [7]:
full_combined =  pd.merge( merged_per_state, mortaility_data, how="left", on=["Location", "Location"])
#full_combined = full_combined.dropna (axis=0,how='any',subset=["Health Spending per Capita"])
full_combined

,Location,Health Spending per Capita,Employer,Non-Group,Medicaid,Medicare,Military,Uninsured,Total,Footnotes,YEAR,RATE,DEATHS
0,United States,"$9,671",0.496,0.059,0.198,0.142,0.014,0.092,1.0,1.0,NaN,NaN,NaN
1,Alabama,"$8,741",0.472,0.055,0.195,0.160,0.021,0.097,1.0,NaN,2019.0,219.6,13448
2,Alaska,"$13,226",0.484,0.035,0.213,0.100,0.053,0.115,1.0,NaN,2019.0,129.7,843
3,Arizona,"$8,145",0.451,0.052,0.210,0.161,0.015,0.111,1.0,NaN,2019.0,134.0,12587
4,Arkansas,"$8,853",0.420,0.054,0.262,0.159,0.014,0.091,1.0,NaN,2019.0,226.5,8669
5,California,"$9,628",0.480,0.066,0.253,0.114,0.009,0.078,1.0,NaN,2019.0,136.9,62394
6,Colorado,"$8,286",0.534,0.069,0.168,0.128,0.023,0.078,1.0,NaN,2019.0,127.7,7762
7,Connecticut,"$11,831",0.529,0.048,0.215,0.141,0.007,0.059,1.0,NaN,2019.0,143.1,7354
8,Delaware,"$12,213",0.497,0.041,0.204,0.173,0.018,0.066,1.0,NaN,2019.0,154.3,2053
9,District of Columbia,"$13,934",0.549,0.065,0.255,0.082,0.013,0.036,1.0,NaN,NaN,NaN,NaN
10,Florida,"$9,490",0.403,0.095,0.174,0.180,0.017,0.131,1.0,NaN,2019.0,140.1,47144
11,Georgia,"$8,243",0.489,0.056,0.173,0.126,0.022,0.134,1.0,NaN,2019.0,175.5,19543
12,Hawaii,"$9,555",0.543,0.041,0.176,0.159,0.040,0.041,1.0,NaN,2019.0,120.3,2503
13,Idaho,"$7,723",0.490,0.086,0.156,0.150,0.014,0.105,1.0,NaN,2019.0,150.7,3061
14,Illinois,"$9,496",0.546,0.052,0.182,0.141,0.007,0.073,1.0,NaN,2019.0,162.0,25690
15,Indiana,"$9,927",0.533,0.044,0.177,0.148,0.010,0.088,1.0,NaN,2019.0,178.8,14555
16,Iowa,"$9,193",0.544,0.049,0.195,0.156,0.009,0.047,1.0,NaN,2019.0,172.9,7505
17,Kansas,"$8,745",0.543,0.056,0.139,0.150,0.020,0.092,1.0,NaN,2019.0,166.0,6140
18,Kentucky,"$9,744",0.470,0.039,0.255,0.158,0.014,0.064,1.0,NaN,2019.0,196.4,10742
19,Louisiana,"$9,657",0.418,0.049,0.293,0.137,0.014,0.089,1.0,NaN,2019.0,207.8,11302
20,Maine,"$11,488",0.465,0.057,0.200,0.183,0.015,0.081,1.0,NaN,2019.0,142.4,2940
21,Maryland,"$10,248",0.547,0.054,0.187,0.133,0.019,0.059,1.0,NaN,2019.0,159.3,11770
22,Massachusetts,"$12,729",0.559,0.054,0.221,0.131,0.005,0.030,1.0,NaN,2019.0,127.2,11761
23,Michigan,"$9,532",0.509,0.052,0.217,0.159,0.006,0.058,1.0,NaN,2019.0,193.8,25547
24,Minnesota,"$10,510",0.578,0.052,0.169,0.147,0.007,0.048,1.0,NaN,2019.0,116.7,8401
25,Mississippi,"$8,745",0.422,0.047,0.242,0.142,0.018,0.129,1.0,NaN,2019.0,226.7,7997
26,Missouri,"$9,431",0.520,0.057,0.144,0.164,0.013,0.101,1.0,NaN,2019.0,187.0,15018
27,Montana,"$9,808",0.430,0.080,0.208,0.181,0.018,0.083,1.0,NaN,2019.0,157.1,2290
28,Nebraska,"$9,917",0.568,0.069,0.126,0.142,0.016,0.079,1.0,NaN,2019.0,144.9,3540
29,Nevada,"$8,114",0.495,0.055,0.178,0.140,0.017,0.115,1.0,NaN,2019.0,198.1,6864
30,New Hampshire,"$11,310",0.562,0.053,0.132,0.177,0.012,0.064,1.0,NaN,2019.0,143.4,2707
31,New Jersey,"$11,264",0.557,0.054,0.166,0.138,0.005,0.079,1.0,NaN,2019.0,158.0,18716
32,New Mexico,"$8,459",0.366,0.040,0.327,0.150,0.018,0.098,1.0,NaN,2019.0,158.2,4245
33,New York,"$12,932",0.498,0.058,0.257,0.130,0.004,0.053,1.0,NaN,2019.0,166.6,43806
34,North Carolina,"$8,619",0.463,0.067,0.179,0.153,0.024,0.114,1.0,NaN,2019.0,154.7,19617
35,North Dakota,"$10,653",0.557,0.090,0.122,0.138,0.021,0.074,1.0,NaN,2019.0,147.7,1448
36,Ohio,"$10,173",0.526,0.040,0.200,0.159,0.008,0.067,1.0,NaN,2019.0,188.8,29160
37,Oklahoma,"$8,923",0.455,0.055,0.170,0.151,0.020,0.149,1.0,NaN,2019.0,231.4,10960
38,Oregon,"$9,635",0.493,0.057,0.208,0.162,0.009,0.071,1.0,NaN,2019.0,131.0,7128
39,Pennsylvania,"$11,175",0.518,0.051,0.202,0.163,0.008,0.057,1.0,NaN,2019.0,172.9,32299
40,Rhode Island,"$10,988",0.540,0.059,0.205,0.146,0.008,0.043,1.0,NaN,2019.0,159.3,2404
41,South Carolina,"$8,345",0.454,0.061,0.188,0.168,0.022,0.108,1.0,NaN,2019.0,164.0,10579
42,South Dakota,"$11,627",0.515,0.083,0.128,0.161,0.018,0.096,1.0,NaN,2019.0,158.1,1840
43,Tennessee,"$8,827",0.478,0.056,0.195,0.150,0.018,0.102,1.0,NaN,2019.0,202.8,16814
44,Texas,"$8,028",0.476,0.057,0.159,0.109,0.016,0.184,1.0,NaN,2019.0,163.4,46139
45,Utah,"$7,193",0.605,0.093,0.093,0.100,0.012,0.096,1.0,NaN,2019.0,146.5,3882
46,Vermont,"$12,159",0.484,0.048,0.239,0.175,0.010,0.044,1.0,NaN,2019.0,151.6,1368
47,Virginia,"$8,826",0.541,0.052,0.135,0.148,0.044,0.080,1.0,NaN,2019.0,149.1,15062
48,Washington,"$8,964",0.529,0.050,0.198,0.139,0.018,0.066,1.0,NaN,2019.0,134.8,11862
49,West Virginia,"$11,951",0.440,0.025,0.266,0.190,0.013,0.066,1.0,NaN,2019.0,197.4,5087
50,Wisconsin,"$9,652",0.565,0.053,0.161,0.155,0.008,0.058,1.0,NaN,2019.0,158.8,12241
51,Wyoming,"$10,111",0.511,0.071,0.115,0.162,0.018,0.123,1.0,NaN,2019.0,150.4,1067